fastapi==0.136.1
uvicorn==0.44.0
pydantic==2.12.5
pytest==9.0.3
httpx==0.28.1
langchain==1.2.13
langchain-community==0.4.1
langchain-core==1.4.7
langchain-openai==1.1.11
langchain-tavily==0.2.18
langchain-text-splitters==1.1.1
langgraph==1.1.10
langgraph-checkpoint==4.1.1
langgraph-checkpoint-postgres==3.1.0
langgraph-prebuilt==1.0.13
langgraph-sdk==0.3.15
langmem==0.0.30
dashscope==1.25.16
python-dotenv==1.2.2
psycopg==3.3.4
psycopg-binary==3.3.4
psycopg-pool==3.3.1
anthropic==0.109.1
dydantic==0.0.8
langchain-anthropic==1.4.6
langchain-protocol==0.0.17
trustcall==0.0.39
feedparser==6.0.12
mcp==1.27.0
uv==0.11.11
